<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
    </title>
    <style>
        .body {
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .text-center {
            text-align: center;
        }

 @font-face {
            font-family: 'TitilliumWeb-Bold';
            src: url("views/font/TitilliumWeb-Bold.ttf");
        }

        @font-face {
            font-family: 'TitilliumWeb-Regular';
            src: url("views/font/TitilliumWeb-Regular.ttf");
        }

        .body {
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .inline-block {
            display: inline-block;
        }
.logo_center{
    text-align:center;
}
        .text-center {
            text-align: left;
        }

        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

        table {
            width: 600px;
            margin: 0 auto;
        }

        h2:before {
            content: '';
            width: 51px;
            height: 0px;
            color: #ffb026;
            top: 50%;
            display: block;
            border-bottom: 1px solid #ffb026;
            left: 50px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        h2:after {
            content: '';
            width: 51px;
            height: 0px;
            color: #ffb026;
            top: 50%;
            display: block;
            border-bottom: 1px solid #ffb026;
            right: 0;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .text-uppercase {
            text-transform: uppercase;
        }

    </style>
</head>

<body>
<table style="border: 1px solid black;">
        <thead>

            <tr>
            <td colspan="2"><div class="logo_center" style="background-color:#f3f3f3">
            <img src="http://www.wohlig.com/images/wohlig/logo-color.png" width="200px" height="auto">
            </div></td></tr>


<tr>
                <td class="text-center" colspan="2">
                    <h1 style="color:#00b0c7;padding-left:38px;">Get In Touch
                        <span style="font-weight: bold;"></span></h3>
                    <div style="margin-bottom: 10px;color:black; font-weight:600; ">Details of Candidate Applying:</div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr >
               <td style="padding-left:40px;" colspan="2">
                    <div>
                    <div class="" style="display:inline-block"><span style="padding-right:49px;">Full Name</span><span style="padding-right:10px;">:</span></div>
                        <div style="display:inline-block"><%=name%> <span style="font-weight: bold;"></span></div>
                    </div>
                    <br>
                    <div style="">
                        <div style="display:inline-block"><span style="padding-right:58px;">Email Id </span><span style="padding-right:10px;">:</span></div>
                        <div style="display:inline-block"><%=from%> <span style="font-weight: bold;"></span></div>
                    </div>
                    <br>
                    <div style="">
                         <div style="display:inline"><span style="padding-right:44px;">Contact No</span><span style="padding-right:10px;">:</span></div>
                        <div style="display:inline-block"><%=number%> <span style="font-weight: bold;"></span>
                    </div></div><br>
                    <div style="padding-bottom:30px;">
                        <div style="display:inline-block;vertical-align: top;"><span style="padding-right:17px;">Message/Query</span><span style="padding-right:10px;">:</span></div>
                        <div style="display:inline-block;width:200px"><%=message%> <span style="font-weight: bold;"></span>
                        </div>
                    </div>
                    <br>
                </td>
            </tr>
<tr style="background-color:#585858;color:white;text-align:center;">
<td colspan="2">  Copyright &copy;  2017 by Wohlig Transformations Pvt.Ltd.
</td></tr>


        </tbody>

    </table>
</body>

</html>