@media (max-width: $screen-xs-max) {
    // Mobile
    .G-button_Submit {
        margin-right: 15px;
    }
    .map_img {
        width: 100%;
    }
    .form-horizontal .control-label {
        text-align: left;
        padding-left: 17px;
    }
    .Name_title_head {
        font-weight: bolder;
        margin: 0px;
        top: 12%;
        color: white;
        left: 50%;
        font-size: 10px;
    }
    .btn_form {
        padding-right: 261px;
    }
    .img_tap {
        top: 60px;
    }
    .img_wrapper {
        top: 9px;
    }
    .enquiry_details {
        padding-left: 28px;
    }
    .column_addr {
        margin: 0px;
    }
    .btn_form {
        padding-right: 0px;
    }
    
    .space_b {
        padding-left: 9px;
        font-size: 14px;
    }
    .space_b1 {
        padding-left: 6px;
        font-size: 14px;
    }
    .space_b3 {
        padding-left: 6px;
        font-size: 14px;
    }
    .paragraph_hight {
        line-height: 1.6 !important;
        font-size: 13px;
    }
    .nav-tabs>li {
        padding: 0;
    }
    .fa-plus:before {
    content: "ï§";
    font-size: 20px;
}
    .nav-tabs>li>a {
        padding: 8px 4px
    }
    .nav-tabs>li {
        padding: 0px;
        float: none;
    }
    a {
        .span.ng-binding {
            padding-left: 0px!important;
        }
        font-size: 17px;
        
    }
    .G-button_Submit {
    padding: 3px 16px 7px 16px;
    color: white; 
 background-color: #00b0c7; 
}
    .job_d {
        font-size: 16px;
    }
    .profile_p {
        font-size: 16px;
    }
    .button_apply {
        padding: 3px 13px 3px 13px;
        font-size: 12px;
    }
    .underline_text {
        padding-left: 0px;
        font-size: 18px;
    }
    .button_apply:hover {
        padding: 3px 13px 3px 13px;
        font-size: 12px;
    }
    .addi_inf {
        padding-bottom: 33px;
    }
    .button_submit {
        padding: 3px 14px 3px 14px;
    }
    .form_text {
        padding-bottom: 12px;
    }
    .attach .btn-upload:after {
        content: 'Attach PDF File';
        text-color: black;
        border-bottom: 1px solid;
        color: blue;
        font-size: 13px;
        padding-right: 5px;
    }
    .color_text_upload {
        font-size: 14px;
    }
    label.control-label {
        padding-top: 6px;
        padding-left: 5px;
    font-size: 15px;
    }


a {
    font-size: 13px;
}



.nav-tabs>li {
    padding: 0px;
}

.img_width {
    width: 70px;
    margin: 0 auto;
}

navbar-default .navbar-nav > li > a {
    color: #c9c4c4;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}


.image_privacy {
    width: 100%;
    padding-top: 53px;
    height: 241px;
}
.privacy_Terms
{
    padding-left: 20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #cec9c9;
}
.nav > li {
 background-color:none!important;
}


// .navbar-default .navbar-nav > li > a {
//     background-color:#c9c4c4;
// }
.column_space13 {
    background-color: white;
    border: 1px solid lightgray;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
}

.img-holder_12 {
    .img1 {
        width: 108px;
        height: 64px;
        margin-left: -45px;
        padding-top: 13px;
        padding-bottom: 10px;
        margin-bottom: 9px;
    }
}

.navbar-nav {
    padding-left: 0px;
    padding-top: 12px;
    text-align: center;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 16px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.img_top1 {
    margin-top: 0px;
}

.draw_image_background {
    margin-top: 44px
}

.img1 {
    width: 103px;
    height: 50px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 21px;
}

.Name_title_head {
    position: absolute;
    font-weight: bolder;
    margin: 0px;
    font-size: 16px;
}

.padding_page {
    padding-top: 24px;
}

.navbar-header {
    padding-left: 1px;
    padding-top: 6px;
    margin-left: 70px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.img_m {
    display: block;
}

.column_page1 {
    padding-top: 0px;
}

.img_d {
    display: none;
}

.footer_design {
    text-align: center;
}
.footer-bottom
{
    text-align: center;
}
.hb_menu {
    margin-top: -72px;
    margin-left: 300px;
}


.img_d {
    background-image: url(images/newsletter_headline1.gif);
}

.column_work {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ededed;
    height: 100px;
}
.fa.pull-right
{
    
    margin-left: .0em;

}
.uib_tab_ig
{
    margin-top: 56px;
}
.Services_Heading1 {
    position: absolute;
    top: 41%;
    margin: 0px;
    left: 50%;
    font-weight: bolder;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 19px;
    color: white;
}
.textcontent {
    line-height: 1.7;
   padding-left: 15px;
    font-weight: 600;
}
.text_content {
    line-height: 1.7;
   padding-left: 0px;
    font-weight: 600;
}
.scroll_page
{
    height: 100px;
    overflow-y: scroll;
}
.text_heading_inside {
    color: #00b0c7;
    padding-top: 24px;
    padding-bottom: 7px;
    padding-left: 15px;
}
.textheadinginside
{
   padding-left: 0px;  
}
.center {
        margin: auto;
    width: 60%;
  
    padding: 10px;
    // margin: 0px;
    //     margin-left: 12px;
    // width: 100%;
    // border: 3px solid green;
}


}
