 @media (max-width: $screen-xs-max) {
     // Mobile
     .G-button_Submit
     {
             margin-right: 15px;    
     }
     .map_img
     {

    width:100%;
}
     .form-horizontal .control-label {
    text-align: left;
    padding-left: 17px;
}.Name_title {
    font-weight: bolder;
    margin: 0px;
    font-size:10px;
    }
    .btn_form
    {
               padding-right: 261px;
    }
    .enquiry_details
    {
                padding-left: 28px;
    }
    .column_addr
    {
                margin: 0px;

    }
   .btn_form {
    padding-right: 0px;
   }
   .fa.pull-right {
    margin-left: .3em;
    margin-top: 4px;
}
.space_b {
    padding-left: 9px;
    font-size: 14px;
}
.space_b1 {
    padding-left: 6px;
    font-size: 14px;
}
.space_b3 {
    padding-left: 6px;
    font-size: 14px;
}
.paragraph_hight {
    line-height: 1.6 !important;
    font-size: 13px;
}
.nav-tabs > li {
    padding: 0;
}
.nav-tabs > li {
    padding: 0px;
}


.span.ng-binding {
    padding-left: 0px;
    
    font-size: 18px;
}
.job_d
{
    font-size: 16px;
    
}


.profile_p
{
    font-size: 16px;
}
.button_apply
{
    padding: 3px 13px 3px 13px;
    font-size: 12px;
}
.span.ng-binding {
    padding-left: 20px;
    font-size: 15px;
}
.button_apply:hover
{
    padding: 3px 13px 3px 13px;
    font-size: 12px;
}
.addi_inf {
    padding-bottom: 33px;
}
.button_submit {
    padding: 3px 14px 3px 14px;
}
.form_text
{
    padding-bottom: 12px;
}

.nav-tabs > li 
{
       padding: 0px; 
}
.img_width {
    width:80px;
    margin: 0 auto;
}
.img1{
     margin-left: 35px;
    margin-top: 7px;
}
.navbar-nav {
    padding-left: 0px;
    padding-top: 12px;
    text-align: center;
}
.navbar-toggle{
       position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 21px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.img_top{
        margin-top: 60px;
}
.Name_title {
    font-weight: bolder;
    margin: 0px;
    font-size: 10px;
}
 .draw_image_background
    {
        
margin-top: 44px        
    }
    .img1 {
    width: 103px;
    height: 50px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 21px;
}
.Name_title {
    position: absolute;
    top: 69%;
    left: 50%;
.navbar-header
{
    padding-left: 1px;
    padding-top: 6px;
        margin-left: 70px;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.footer_design
{
    text-align: center;
}
.hb_menu
{
        margin-top: -72px;
    margin-left: 300px;
    
}
}
 }