<div class="img-wrapper">
    <div class="img_d">
        <img src="img/About-Us-41.jpg" alt="background_img" class="img-responsive" width="100%" height="auto">
    </div>
    <div class="background_name ">

        <h2 class="Name_title_head"><b>About Us</b></h2>
    </div>
</div>

         

<flex-slider flex-slide="s in testslide track by $index" prev-text="" next-text="">
                <li>

                 <div class="text-center">
                         
                        <p class="text-center " ng-bind-html="s.desc"></p>
</div>
        </li> 
    </flex-slider>
    <div class="container">
<div class="heading_We_Believe_In ">
    <span class="We_Believe">We Believe In </span>
</div>
<div class="row row_page1">



    <div class="col-md-offset-1 col-md-10">

        <div class="col-md-6">
            <img src="img/logom.jpg" alt="alt text" style="float: left" class="wbi_logo1">
            <h4 class="Text_wbi"> Proactive</h4>
            <p class="text_color">We are a products of our choices and not circumstances
            </p>
        </div>
        <div class="col-md-6">
            <img src="img/bulb.jpg" alt="alt text" style="float: left" class="wbi_logo">
            <h4 class="Text_wbi"> First things first</h4>
            <p class="text_color">We put important things first, Not urgent
            </p>
        </div>
    </div>
</div>

<div class="row row_page2">
    <div class="col-md-offset-1 col-md-10">
        <div class=" col-md-6 ">
            <img src="img/mind.jpg" alt="alt text" style="float: left" class="wbi_logo">
            <h4 class="Text_wbi"> Begin with the end in mind</h4>
            <p class="text_color">we live by design Not "DEFAULT"
            </p>
        </div>
        <div class="col-md-6">
            <img src="img/4.jpg" alt="alt text" style="float: left" class="wbi_logo">
            <h4 class="Text_wbi"> Think Win-Win</h4>
            <p class="text_color">We believe there is plenty of space for everyone & more to share
            </p>
        </div>
    </div>
</div>
    </div>