<div class="draw_image_background">
    <img src="img/11.jpg"  alt="background_img" width="100%" height="250px">
</div>
<div class="container form_container">
<div class="row row_container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
         <label class="control-label" for="aboutyou">About you</label>
    </div>
    <div class="col-md-2">
    </div>

  <!--starting of first form-->
    <div class="col-md-2">
    </div>
        <div class="col-md-4">
            <form>
  <div class="form-group">
    <input type="text" class="form-control input-md" id="firstname" placeholder="First Name">
  </div><!--form-group-->
            </form>
        </div>
           <div class="col-md-4">
               <label></label>
                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                 
    
        </div>
         <div class="col-md-2">
    </div>
    <!--ending of first form-->

    


</div><!--row-->
</div><!--container-->