<div class="draw_image_background">
    <img src="img/11.jpg"  alt="background_img" width="100%" height="250px">
</div>
<!--<div class="tab_form">
  <ul>
       
  <li><img src="img/12.png"></a></li>
  <li><img src="img/13.png"></a></li>
</ul>
  -->  

<div class="container form_container">
<div class="row padd_top">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 column_space">
         <div class="form-group">
         <label class="control-label" for="aboutyou">About you</label>
    </div></div>
    <div class="col-md-2">
    </div>
</div>

<div class="row ">
  <!--starting of first form-->
    <div class="col-md-2">
    </div> 
        <div class="col-md-4 column_space">
            <form>
  <div class="form-group">
    <input type="text" class="form-control input-md" id="firstname" placeholder="First Name">
  </div><!--form-group-->
            
        </div>
           <div class="col-md-4 column_space2">
               
                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                 
    
        </div>
         <div class="col-md-2">
    </div></div>
    <!--ending of first form-->


<div class="row addi_inf">
  <!--starting of first form-->
    <div class="col-md-2">
    </div>
        <div class="col-md-4 column_space">
            <form>
  <div class="form-group">
    <input type="email" class="form-control input-md" id="email" placeholder="Email">
  </div><!--form-group-->
      </div>
            </form>
    
           <div class="col-md-4 column_space2">
               
                <input type="Phone Number" class="form-control" id="phonenumber" placeholder="Phone Number">
                 
    
        </div>
         <div class="col-md-2">
    </div>
    <!--ending of first form-->

    


</div><!--row-->
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 column_space">
          <div class="form-group">
         <label class="control-label" for="aboutyou">Addition Information</label>
    </div></div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
  <!--starting of first form-->
    <div class="col-md-2">
    </div>
        <div class="col-md-8 column_space">
            <form>
  <div class="form-group">
    
      <select class="form-control" id="sel1">
          
        <option>Designer</option>
        <option>Developer</option>
        <option>Tester</option>
        
      </select>

  </div>
   </form>
    
        </div>
         <div class="col-md-2">
    </div></div>
    <!--ending of first form-->


<div class="row">
  <!--starting of first form-->
    <div class="col-md-2">
    </div>
        <div class="col-md-4 column_space">
            <form>
  <div class="form-group">
    <input type="text" class="form-control input-md" id="yearofexperience" placeholder="Year of Experience ">
  </div><!--form-group-->
            </form>
        </div>
           <div class="col-md-4 column_space2">
               
                <input type="text" class="form-control" id="noticeperiod" placeholder="Notice Period">
                 
    
        </div>
         <div class="col-md-2">
    </div></div>
    <!--ending of first form-->

<div class="row">
  <!--starting of first form-->
    <div class="col-md-2">
    </div>
        <div class="col-md-4 column_space">
            <form>
  <div class="form-group">
    <input type="text" class="form-control input-md" id="currentctc" placeholder="Current CTC ">
  </div><!--form-group-->
            </form>
        </div>
           <div class="col-md-4 column_space2">
               
                <input type="text" class="form-control" id="expectedctc" placeholder="Expected CTC">
                 
    
        </div>
         <div class="col-md-2">
    </div></div>
    <!--ending of first form-->


<div class="row">
  <!--starting of first form-->
    <div class="col-md-2">
    </div>
        <div class="col-md-8 column_space">
            <form>
  <div class="form-group">
    <input type="text" class="form-control input-md" id="updatedcv" placeholder="Upload PDF/CV:">       

<div class="attach">
 
                            </div>
  </div>
    
          
  </div></form>
    
        </div>
         <div class="col-md-2">
    </div></div>
    <!--ending of first form-->


<div class="row padding_buttom">
    <div class="col-md-2"></div>
      <div class="col-md-6 button_add">
           <input type="submit" value="Submit" class="pull-right btn btn-default button_submit"> 
</div>
 <div class="col-md-2">
 </div>
   <div class="col-md-2">
</div>
</div><!--container-->