<div class="img-wrapper">
  <div class="img_1234">

    <!-- <img src="img/page_c2.jpg" height="343px" class="img-responsive imgclient" alt="bimg"> -->
    <div class="textclient">
      <h1 class="textsz">
        <span class="border_ctext">Our Clients</span>
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-section .p-80-cont">


    <div class="container">
      <!--title-->

      <!--client images-->
      <div class="our_clients">
        <div class="row">
          <div class="col-md-3 col-sm-4 " ng-repeat="img1 in clients track by $index">
            <div class="c_img">
              <div class="img_holder_clients">
                <img ng-src="{{img1}}" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
</div>