
 <div class="img_123"> <img src="img/clients_banner.png" class="img-responsive img1234" alt="bimg"  >
  </div>





<div class="container">
<div class="page-section .p-80-cont">
<div class="mb-10">
                <div class="container">
                    <h2 class="section-title2 font-montserrat"><strong>Our Clients</strong></h2>
                </div>
            </div>
<div class="container">
    <div class="row">
        <div class="c_container">
                        <div class="c_img col-md-3">
                            <a href="" target="_blank"> <img src="img/c/TUI_Logo_tilewhite.png"alt="TUI_Logo_tilewhite"></a>
                        </div>
                        <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/coachmentor.png" alt="coachmentor"></a>
                        </div>
                       <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/6.png" alt="dharma"></a>
                        </div>

                       <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/11.png" alt="SFA"></a>
                        </div>


                      <div class="c_img col-md-3">
                            <a href="" target="_blank"> <img src=""></a>
                        </div>

                        
                        <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/10.png" alt="Travellibro"></a>
                        </div>
                       <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/d.png" alt="jpp"></a>
                        </div>

                       <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/8.png" alt="absolute"></a>
                        </div>
                        <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/e.png" alt="auroart"></a>
                        </div>

                       <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/1.png" alt="smaash"></a>
                        </div>
                         <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/.png" alt="rusa"></a>
                        </div>

                       <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/ting.png" alt="Ting"></a>
                        </div>
                       <div class="c_img col-md-3">
                            <a href="" target="_blank"><img src="img/c/phele-kadam.png" alt="pehla kadam" class="img-responsive"></a>
                        </div>

                       

                    </div>
    </div>
</div>

</div>
</div>