<div class="img-wrapper">
 <div class="img_1234"> 
   
   <img src="img/f9415c34857cd1db3e3c85fea76ba329.jpg"  height="343px" class="img-responsive imgclient" alt="bimg"  >
  <div class="background_name ">

    <h2 class="title_clients"><b>Our Clients</b></h2>
  </div>
 
  </div>
</div>

<div class="container">
<div class="page-section .p-80-cont">


<div class="container">
    <!--title-->
  
    <!--client images-->
    <div class="our_clients">
      <div class="row">
        <div class="col-md-3 c_img" ng-repeat="img1 in clients track by $index">
          <div class="img_holder_clients">
            <img ng-src="{{img1}}" alt="" class="img-responsive">
          </div>

        </div>
      </div>
    </div>
  </div>





</div>
</div>