<div class="img-wrapper">
  <div> <img src="img/1.jpg" class="img-responsive img_top" alt="bimg">
  </div>
  <div class="background_name ">

    <h2 class="Name_title">GET IN TOUCH</h2>
  </div>
  <!--img absolute-->
</div>
<!--img close-->


<div class="container Details_Container">
  <div class="row page_row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1  col-sm-10 col-xs-offset-0 col-xs-12">
      <div class="col-md-4 col-sm-5 cpl-xs-12 padding_page">
        <div class="column_main">
          <div class="column_addr">
            <h4 class="page_font"><b>Wohlig Technology</b></h4>
            <br>
            <div class="wohlig_address">
              <p> Plot No.3, Flat No.A/30,
              </p>
              <p> 3rd Floor, Laxmi Nivas,</p>
              <p> Near Sadhana School,</p>
              <p> Sion West, Mumbai</p>
              <p> Maharashtra- 400022.</p>
            </div>

            <div class="enquiry_wohlig">
              <a href="" class="fsize color:#00b0c7" target="_blank">
                                  <i class="fa fa-google-plus plus_color" aria-hidden="true"></i></a></div>
            <span class="email_page">Email Address</span>
            </h5>
          </div>
          <!--column-->
          <div class="enquiry_details">
            <h5 class="inq_font"><b>Inquiry Contact</b><br></h4>
              <h6>
                <p class="letter_space_content"> <a href="" class="fsize color-white" target="_blank">
                                                 <i class="fa fa-phone"></i></a> +1.877.771.1900 ext. 4</p>

                <p class="letter_space_content"><a href="" class="fsize color-white" target="_blank">
                                                 <i class="fa fa-phone"></i></a>+1.877.771.1900 ext.4</p>

                <p class="letter_space_content"> <a href="" class="fsize color-white" target="_blank">
                                                 <i class="fa fa-phone"></i></a> +1.877.771.1900(fax)
                </p>

                <p class="letter_space_content"> <a href="" class="color_blue">
                                                        <a href="" class="fsize color-white" target="_blank">
                                                 <i class="fa fa-envelope-o"></i></a> help@wohligtechnology.com
                </p>
                <p>
                  </a>
                  <p class="letter_space_content"><a href="" class="fsize color-white" target="_blank">
                                                 <i class="fa fa-clock-o"></i></a> Mon-Fri:4am to 5pm Public Time</p>
            </h5>


            <h5 class="line_page"><b>Support Contact</b><br></h4>
              <h6 class="line_page2">
                <p> <a href="" class="fsize color-white" target="_blank">
                                                        <i class="fa fa-phone"></i></a> +1.877.771.1900 ext.4
                </p>
                <p>
                  <a href="" class="fsize color-white" target="_blank">
                                                        <i class="fa fa-phone"></i></a> +1.877.771.1900
                  ext.4
                </p>
                <p>
                  <a href="" class="fsize color-white" target="_blank">
                                                        <i class="fa fa-phone"></i></a> +1.877.771.1900(fax)

                </p>
                <p>
                  <a href="" class="color_blue">
                                                <a href="" class="fsize color-white" target="_blank">
                                                <i class="fa fa-envelope-o"></i></a> help@wohligtechnology.com

                </p>
                </a>
                <p>

                  <a href="" class="fsize color-white" target="_blank">
                                                <i class="fa fa-clock-o"></i></a> Mon-Fri:4am to 5pm Public
                  Time</p>
            </h5>
            <br>
          </div>
        </div>

      </div>
      
      <!--col-->


      <div class="col-md-8 col-sm-7 col-xs-12 page_design">
        <div class="page_form">
          <form class="form-horizontal form_h ">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fullname"> Full Name</label>
              <div class="col-md-9 col-sm-9">
                <input type="text" ng-model="data.name" class="form-control" id="name" placeholder="Name" required name="name">
                <div class="pull-right" ng-repeat="(field,value) in formData.name.$error" ng-show="formData.name.$touched">
                  <span class="label label-danger" ng-if="field=='required' && value">Please Enter Full Name</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email_id">Email Id.</label>
              <div class="col-md-9 col-sm-9 col_size">

                <input type="email" ng-model="data.email" class="form-control" id="email" placeholder="Email" name="email" required>
                <div class="pull-right" ng-repeat="(field,value) in formData.email.$error" ng-show="formData.email.$touched">
                  <span class="label label-danger" ng-if="field=='required' && value">Please Enter Email</span>
                  <span class="label label-danger" ng-if="field=='email' && value">Please Enter Valid Email</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact_no">ContactNo.</label>
              <div class="col-md-9 col-sm-9 col_size">
                <input type="text" name="Contact_no" ng-model="data.age" class="form-control" id="age" placeholder="Contact No" min="18"
                  max="50" required>
                <div class="pull-right" ng-repeat="(field,value) in formData.age.$error" ng-show="formData.age.$touched">
                  <span class="label label-danger" ng-if="field=='required' && value">Please Enter contact No</span>
                  <span class="label label-danger" ng-if="field=='min' && value">contact_no should be greater than 1</span>
                  <span class="label label-danger" ng-if="field=='max' && value">contact_no should be less than 10</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12 message_form" for="message">Message/<br>Query</label>
              <div class="col-md-9 col-sm-9 col_size">
                <textarea name="query" ng-model="data.query" placeholder="Message/Query" id="query" cols="30" rows="3" class="form-control"
                  required></textarea>
                <div class="pull-right" ng-repeat="(field,value) in formData.query.$error" ng-show="formData.query.$touched">
                  <span class="label label-danger" ng-if="field=='required' && value">Please Enter Query</span>
                </div>
              </div>
            </div>

            <div class="form-group" >
              <div class="col-md-12 col-sm-12 col-xs-12 btn_form">
                <input type="submit" value="Submit" class="pull-right btn btn-default G-button_Submit">
              </div>
            </div>
          </form>
          <div class="map_img">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.424403486786!2d72.86076331468213!3d19.045069057893567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8d1dc2d4e93%3A0xaac7b2a8db110f47!2sWohlig+Technology!5e0!3m2!1sen!2sin!4v1505201272795"
              class="Frame_map" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <!--map-img--> 
        </div></div>  </div></div>
      </div>