<div>
<div>
    <img src="img/privacy-policy-banner .jpg" alt="Privacy Policy" class="image_privacy">
</div>
<div class="container letter_word">
        <h5 class="letters">
<b>PLEASE READ THIS PRIVACY STATEMENT CAREFULLY BEFORE USING THIS WEB SITE OR OTHER RELATED SITES OF THE COMPANY</b></h5>
    <h5 class="letters">
  Welcome to this Dharma Productions website. We at Dharma Production respect the privacy of everyone who visits this website and are committed to maintaining the privacy and security of the personal information of all visitors to this website. Our policy on the collection and use of personal information and other information is outlined below.  
    </h5>
    <h5 class="letters">
        We do not require personal information to obtain access to most of our website. We collect personal information from our visitors on a voluntary basis. Personal information may include name, phone number, email address, and other relevant data. Questions or comments submitted by visitors may also include personal information.
    </h5><h5 class="letters">
We collect and use personal information for business purposes in order to provide information or interactive services through this website, to your e-mail address or, where you wish it to be sent by post, to your name and postal address; to seek your feedback or to contact you in relation to those services offered on the website.
</h5><h5 class="letters">
At all times we attempt to treat the information about you we receive on the internet with care deemed reasonable under the circumstances.
    </h5>
    </div>
</div>
