<div>
    <div>
        <img src="img/privacy_policy.jpg" alt="Privacy Policy" class="image_privacy">
    </div>
    <div class="container">
        <div class="letter_word">
            <h5 class="letters">
                <h5 class="letters">
                    Wohlig Transformations Pvt. Ltd. and its subsidiaries hereinafter referred as ‘Wohlig Transformations,’ is committed to respect
                    your privacy and choices while using our website. The statement highlights our privacy practices regarding
                    Personal Information that we hold about you</h5>
                <h5 class="letters">
                    <b>Personal Information we may collect and process:</b>
                </h5>
                <h5 class="letters">
                    For the purposes of this privacy statement, ‘Personal Information’ is any data which relates to an individual who may be
                    identified from that data, or from a combination of a set of data, and other information which is or
                    may be in possession of Wohlig Transformations.
                </h5>
                <h5 class="letters">
                    In general, you may browse our website without providing any Personal Information about yourself. However, certain information
                    such as your IP address, demographics, your computers’ operating system, and browser type may be collected
                    in order to provide better usability, troubleshooting, site maintenance, and to understand which parts
                    of the website are visited and how frequently. In order to provide relevant content based on your preferences,
                    when you register to our website, we require you to provide us with certain Personal Information such
                    as your name, email address, telephone number, and other details. While accessing certain sections of
                    the Wohlig Transformations website such as Careers, you may also be required to provide Personal Information
                    for Wohlig Transformations to process the corresponding request.

                </h5>
                <h5 class="letters">
                    <b>II. Consequences of not providing Personal Information</b>
                </h5>
                <h5 class="letters">
                    If you choose not to provide your Personal Information that is mandatory to process your request, we may not be able to provide
                    the corresponding service.
                </h5>

                <h5 class="letters">
                    <b>III.Data recipients, transfer, and disclosure of Personal Information:</b>
                </h5>
                <h5 class="letters">

                    Wohlig Transformations does not share your Personal Information with third parties for marketing purposes without seeking
                    your prior permission. Wohlig Transformations will seek your consent prior to using or sharing Personal
                    Information for any purpose beyond the requirement for which it was originally collected.

                </h5>
                <h5 class="letters">
                    We may share your Personal Information within Wohlig Transformations or with any of its subsidiaries, business partners,
                    service vendors, authorized third-party agents, or contractors located in any part of the world for thepurposes
                    of data processing, storage, or to provide a requested service or transaction, after ensuring that such
                    entities are contractually bound by data privacy obligations. </h5>
                <h5 class="letters">
                    When required, Wohlig Transformations may disclose Personal Information to external law enforcement bodies or regulatory
                    authorities, in order to comply with legal obligations.

                </h5>
                <h5 class="letters">
                    <b>IV. Use of cookies:</b>
                </h5>
                <h5 class="letters">
                    Cookies are small text files that, like most other Web servers, we place in your device that you use to access our website.
                    This is done to recognize your device during a session or in your future visits to our website, primarily
                    in order to provide better user experience. </h5>
                <h5 class="letters">
                    Types of cookies used:
                </h5>
                <h5 class="letters">
                    <b>Session cookie:</b> Session cookies remain only as long as a browsing session is active, and are intended
                    to avoid user inconvenience during browsing. These cookies allow websites to link the actions of a user
                    during a browser session and expire at the end of the browsing session. Session cookies also assist the
                    user in navigating the website, and allow the user to access secure parts of the webpage when logged
                    in.
                </h5>

                <h5 class="letters">
                    <b>Persistent cookie:</b>Persistent cookies are stored on a user’s device even after termination of a browsing
                    session. It helps in recalling the preferences or actions of the user. Persistent cookies are used for
                    a variety of purposes such as retaining the visitor’s language and regional preference(s) at the end
                    of each browsing session. We may use services of third-party analytics service provider to analyse cookies
                    to carry out a behavioural analysis in order to enhance user experience and convenience, and also to
                    provide targeted and relevant content to visitors

                </h5>
                <h5 class="letters">
                    Depending on the type and settings of your browser, cookies may be accepted by default. You may change the settings of your
                    browser to delete existing cookies or prevent future cookies from being automatically accepted. If you
                    disable cookies, certain parts and functions of our website may not be available. You can learn more
                    about cookies at www.aboutcookies.org
                </h5>
                <h5 class="letters">
                    <b>V. Access, correction, objection of your Personal Information:
                    </b>
                </h5>
                <h5 class="letters">
                    Depending on local law, you may access, update, or correct your Personal Information that we hold, including your profile
                    and preferences. You may do so in the corresponding sections where such information was provided. If
                    you have difficulty in updating or accessing your Personal Information as stated above, you may contact
                    us at info@wohlig.co

                </h5>
                <h5 class="letters">
                    <b>VI. Data security</b>
                </h5>
                <h5 class="letters">
                    Wohlig Transformations adopts reasonable and appropriate security practices and procedures that includes administrative,
                    physical security, and technical controls in order to safeguard your Personal Information.
                </h5>
                <h5 class="letters">
                    <b>VII. Data retention

                    </b>
                </h5>
                <h5 class="letters">
                    Wohlig Transformations may retain your Personal Information as long as there is a business requirement, or if otherwise required
                    under applicable laws.
                </h5>
                <h5 class="letters">
                    <b>VIII. Linked websites



                    </b>
                </h5>
                <h5 class="letters">
                    Wohlig Transformations may provide links to third-party websites and services. However, Wohlig Transformations is not responsible
                    for the privacy statements, practices, or the contents of such third-party websites.


                </h5>
                <h5 class="letters">
                    <b> IX. How to contact us

                    </b>
                </h5>
                <h5 class="letters">
                    If you have any questions regarding our privacy practices or this privacy statement, you may contact us at: Contact address:
                    Wohlig TRANSFORMATIONS Pvt. Ltd, Plot No.3, Flat No.A/30, 3rd Floor, Laxmi Nivas, Near Sadhana School,
                    Sion West, Mumbai Maharashtra- 400022. Maharashtra, India. Phone: +91 9820045678 Email: chirag@wohlig.com

                </h5>

                <h5 class="letters">
                    <b> X. Updates to this privacy statement

                    </b>
                </h5>
                <h5 class="letters">

                    Wohlig Transformations may provide links to third-party websites and services. However, Wohlig Transformations is not responsible
                    for the privacy statements, practices, or the contents of such third-party websites </h5>


        </div>
    </div>
</div>