<div class="img-wrapper">

  <div class="img_d"> <img src="img/services.jpg" class="img-responsive" alt="services_image">
  </div>
   <div class="img_m"> <img src="img/MR.jpg" class="img-responsive img_top1" alt="bimg">
    </div>

  <div class="background_name ">

    <h2 class="Services_Heading1">OUR SERVICES</h2>
  </div>
</div>



<div class="container-fluid">
  <div class="row row_class">
    <div class="col-md-3 column_work">
      <ul class="nav nav-pills nav-stacked scroll_page">
        <!--<li ng-repeat="d in allRecord"  ng-click="showData(d.id,d.show)"  class="page_tab"  ng-class="{'heading_top':d.activeTab}">
        {{d.heading}}
       	</li>-->
        <li ng-click="one()" class="active ul_list" data-toggle="pill" >
      

          <a href="" ><span class="bullet"> &bull;</span>   International Resource Center

                                  <i class="fa fa-angle-double-right arrow  pull-right" aria-hidden="true"></i></a>
        </li>
        <li ng-click="two()" class="ul_list" data-toggle="pill">
          <a href="" ><span class="bullet">  &bull;   </span> Business Intelligence
                <i class="fa fa-angle-double-right arrow  pull-right" aria-hidden="true"></a></i>
        </li>
      
          <li ng-click="three()" class="ul_list" data-toggle="pill">
            <a href="" > <span class="bullet">&bull; </span>    Analytics
                  <i class="fa fa-angle-double-right arrow  pull-right" aria-hidden="true"></a></i>
          </li>
          <li ng-click="four()" class="ul_list" data-toggle="pill">
            <a href="" > <span class="bullet">&bull; </span>  Enterprise Mobility
                  <i class="fa fa-angle-double-right arrow  pull-right" aria-hidden="true"></a></i>
          </li>
          <li ng-click="five()" class="ul_list" data-toggle="pill">
            <a href="" > <span class="bullet">&bull; </span> <span class="text_h">  Testing & QA</span>
                  <i class="fa fa-angle-double-right arrow  pull-right" aria-hidden="true"></a></i>
          </li>
          <li ng-click="six()"  class="ul_list"data-toggle="pill">
            <a href="" ><span class="bullet"> &bull;</span> <span class="text_h">Application Development & Maintenance</span>
                  <i class="fa fa-angle-double-right arrow  pull-right" aria-hidden="true"></a></i>
          </li>
          <li ng-click="seven()"  class="ul_list" data-toggle="pill">
            <a href="" ><span class="bullet">&bull; </span>  Cloud
                  <i class="fa fa-angle-double-right arrow  pull-right" aria-hidden="true"></a></i>
          </li>
          <li ng-click="eight()" class="ul_list" data-toggle="pill">
            <a href="" ><span class="bullet"> &bull;  </span> Technology Consulting
                  <i class="fa fa-angle-double-right arrow  pull-right" aria-hidden="true"></a></i>
          </li>
          <li ng-click="nine()" class="ul_list" data-toggle="pill">
            <a href=""><span class="bullet"> &bull;  </span> IT Infrastructure Services
                  <i class="fa fa-angle-double-right arrow pull-right  "" aria-hidden="true"></a></i>
          </li>
      </ul>
    </div>
   


    <!--International Resourse center-->
    <div class="col-md-9 data_page_services1" ng-if="International">
      <h4 class="page_h">International Resource Center</h4>
      <h5 class="Itext">Overview</h5>
      <p>‘International Resource Centre’ (IRC), provides an end-to-end service designed to minimise business risk and rule out
        potentially expensive mistakes.
      </p>
      <p>We have strong emphasis on the cultural, people management and development aspects of outsourcing. Our staff works
        for the customer company in question rather than for a vanilla project where they have no ownership, no responsibility,
        no long term prospects and no proper training. The three stage approach sets up and matures highly effective teams
        to integrate closely with long term business strategy and ongoing development.</p>
      <p>
        The IRC commercial model is open and transparent and has definite higher cost savings over the traditional outsourcing model.
        However, we insist on much more than simply economic savings. Our innovative operating model drives full transparency,
        intelligent prioritisation and greater levels of control as well as faster turnaround and implementation of projects
        and ideas. Extended teams creating a seamless offshore IT partnership and, vitally, provide a genuine opportunity
        for customer businesses to grow the culture and values of their organisations globally.
      </p>
      <p>Like all growth strategies, outsourcing works best when it’s part of a long term business strategy, not just an ad
        hoc add-on. Having a robust knowledge transfer plan in place from the offset means the time and resources spent developing
        the team genuinely benefit client companies in the long term.</p>
      <h5 class="Itext">IRC Unique Advantages
      </h5>
      <ul>
        <li>Improved Operating Model
        </li>
        <li>Greater Control, Prioritisation & Transparency to customer
        </li>
        <li>Tighter integration with Business – Business Alignment
        </li>
        <li>Quicker Turnaround and Faster Implementation of Projects and Ideas
        </li>
        <li>Extended Teams (Create a boundary less organisation)
        </li>
        <li>KRAs for the IRC beyond labour cost arbitrage
        </li>
        <li>Sustained Value Addition through Efficiencies
        </li>
        <li>Improve experience for end user
        </li>
        <li>Focus on Business Results
        </li>
        <li>Building high skill capabilities
        </li>
      </ul>
      <p>Want to know more ? Download the whitepaper from the Showcase section.
      </p>
    </div>

    <div class=" col-md-9 data_page_services" ng-if="analytics">
      <h4 class="page_h">Analytics</h4>
      <h5 class="Itext">Overview</h5>
      <p class="sizeparagraph"> <img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">Analytics help enterprises get valuable business information
        and insights by analyzing a mixture of structured, semi-structured and unstructured data.</p>
      </b>
      <p class="sizeparagraph">So what exactly is Analytics? In simple terms, Analytics is a process of scrutinizing huge amounts of data sets that
        contain a variety of data types such as big data, in order to uncover some specific and hidden patterns, peculiar
        market trends, unknown correlations, customer preferences and other useful business information. These findings can
        then lead to more effective marketing, better customer service, new revenue opportunities, improved operational efficiency,
        competitive advantages over rival organizations and many other business benefits.</p>
      <p class="sizeparagraph">The primary objective of having an efficient function of Big Data Analytics in any organization is it to make better
        informed business decisions, in turn enabling data scientists and also predictive modelers, along with other analytics
        professionals analyze large amount of invaluable data.</p>
      <p class="sizeparagraph">This data might be the type of transaction data or any other form of data that may not have been tapped using traditional
        business intelligence (BI) programs within the organization. The various types of Big Data might range from clickstream
        data, social media content, Web server logs, Social network activity reports, any form of communication such as texts
        from customer emails and also survey responses, not barring machine data captured by sensors connected to the internet
        and even phone call detail records.
      </p>

      <h5 class="Itext">Wohlig Transformation Offerings – Delivering Value
      </h5>
      <p class="sizeparagraph">Wohlig Transformation specializes in Big Data Analytics. It provides outstanding Big Data consulting solutions that are customized
        to help solve some of the most complex business issues faced by organizations.
      </p>
      <p class="sizeparagraph">It is the data scientists, database experts, ex-investment bankers and consultants which makes us strong on all aspects
        of data analytics i.e. business understanding, statistics knowledge and experience with using the right analytical
        tools.
      </p>
      <h5 class="Itext">Our Approach</h5>
      <p class="sizeparagraph">Big data can be usually be analyzed with using the software tools, commonly used as part of advanced analytics disciplines
        such as the predictive analytics, text analytics, data mining and statistical analysis. Also in addition, the mainstream
        BI software and data visualization tools can also play a crucial role in the analysis process.
      </p>
      <p class="sizeparagraph"><img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">However given the semi-structured and unstructured data that is procured, may not fit well in the traditional data
        warehouses based on relational databases. More so, the processing demands posed by the sets of big data that need
        to be updated often or even continually may not be handled well by the data warehouses. Examples such as, the real-time
        data on the performance of mobile applications or of oil and gas pipeline makes this problem evident. This results
        into several organizations that collect, process and analyze big data have now turned to newer class of technologies
        such as Hadoop and other related tools such as Spark, Hive, YARN, MapReduce and Pig as well as NoSQL databases. The
        advantages of these technologies being, that they are able to form the core of an open source software framework
        which inherently support the processing of massive and diverse data sets at the same time across clustered systems.
      </p>
    </div>






    <div class="col-md-9 data_page_services" ng-if="Enterprise">
      <h4 class="page_h">Enterprise Mobility</h4>
      <h5 class="Itext">Overview</h5>
      <p  class="sizeparagraph"> <img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">Enterprise Mobility today, is all about changing the way
        enterprises are connecting with people and also about how efficiently managing their resources, remotely.
      </p>
      <p  class="sizeparagraph">Enterprise mobility now sees a shift in work habits, with more and more employees working out of the office using mobile
        devices and cloud services in order to perform business tasks. The term refers to not only the people working thorough
        their mobiles and mobile devices; but enterprise mobility is a term that is now synonymous with the mobility of corporate
        data itself! For e.g. this revolutionary technology now enables an employee to upload a corporate presentation from
        his or her desktop PC to a cloud storage service, only to access it from a personal iPad to present it at a client
        site.
      </p>
      <p  class="sizeparagraph">
        Enterprise mobility though promises to enhance employee productivity, may pose or create some security risks. Hence,
        Enterprise mobility management products such as data loss prevention technologies etc. are available to help IT departments
        address these risks. In addition a strong, acceptable user policy is essential for a successful enterprise mobility
        strategy.

      </p>
      <h5 class="Itext">Wohlig Transformation Digital Offerings – Delivering Value

      </h5>
      <p  class="sizeparagraph">Enterprises are continuously exploring innovative means and methods to present real-time data to customers to help
        them experience assurance. <img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">While conventional solutions and system boundaries retain their deserved space and purpose,
        mobility has gained momentum and is now permeating the ubiquitous premise.

      </p>
      <ul>Fact File
        <li>Certified enterprise mobility talent pool
        </li>
        <li>Full-fledged enterprise mobility test lab
        </li>
        <li>Cost effective customized solutions and services using best practices
        </li>
        <li>Global presence in multiple industry verticals
        </li>
      </ul>
      <ul>
        <li>Service Portfolio</li>
        <li>Solution conceptualization
        </li>
        <li>End-to-end enterprise mobility business streams enablement
        </li>
        <li>Enterprise Architecture re-engineering from a mobility standpoint
        </li>
      </ul>
      <h5 class="Itext">Wohlig Transformation Advantage
      </h5>
      <p  class="sizeparagraph">
        At Wohlig technology – Enterprise Mobility Centre of Excellence, a customer-centric approach aligned with <img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">our expertise in
        implementing enterprise mobility business streams, enables us to facilitate growth acceleration, and deliver value
        beyond price.
      </p>
    </div>

    <div class="col-md-9 data_page_services" ng-if="Testing">
      <h4 class="page_h">Testing & QA</h4>
      <p> <img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">TheWohlig technology Strategy – OMT (Objective, Motive, Tactics)
        Our Objective –Wohlig technology’s objective has always been Quality. We do not compromise on quality and it is what we
        ultimately strive for. Our Motive – We atWohlig technology have always believed that our success lies in our client’s
        success. Our Tactics – We achieve this objective by following efficient and customized quality processes with the
        right, skilled team employed at the right place. Following these three principles has brought us relentless success
        in our endeavour and thus>Wohlig Transformation’s strategy forms the core of its working culture.</p>
      <h5 class="Itext">Our Approach and Method</h5>
      <p>In keeping with the tradition of a systematic work approach,Wohlig technology has very distinct Test Methods that form the
        groundwork of our Managed Testing Services. Besides these methods, we also have developed our own proprietary tools
        for automation testing thereby ensuring quick turnarounds for our client projects without compromising on quality
        or coverage.
      </p>
      <h5 class="Itext">Wohlig Transformation Advantage</h5>
      <h5 class="Itext">Ensuring a Sustainable Legacy</h5>
      <p>One of the biggest challenges any organisation can possibly face is to finish a programme to the end and have all the
        testing knowledge retained in the minds of its suppliers and non-permanent team members.
      </p>
      <p>However, here atWohlig technology, as part of our approach, we focus on ensuring that the legacy is built early into the
        engagement with clearly defined objectives.
      </p>
      <h5 class="Itext">The Wohlig Transformation Testing Process:</h5>
      <h4 class="page_h">IT Infrastructure Center</h4>
      <h5 class="Itext">Taking Responsibility for your Testing</h5>
      <p>The key to our success is our unfailing commitment towards quality while we build trust with our clients that we take
        responsibility for testing and deliver it as an efficient service. AtWohlig technology every team member feels proud and
        takes ownership of their tasks of keeping up the standards of quality. Our expert and talented team therefore significantly
        contribute to the programme and ultimately deliver quality business as per the demand.

      </p>
      <h5 class="Itext">Test Automation</h5>
      <p>We have a highly efficient in-house customised framework approach, fast turnaround time to automate any application.</p>
      <ul>
        <li>SPlusTM BPT – AFM(Business Process Test – Automation Framework Methodology) framework</li>
        <li>SPlusTM KDT – AFM(Keyword Driven Test – Automation Framework Methodology) framework
        </li>
        <li>SPlusTM ACM (Applied Conversion Methodology ) framework
        </li>
      </ul>
      <p>We employ the best methods of working with our clients. As a rule we first understand the scope and then utilise the
        necessary frameworks (which could be hybrid too) and tools, in order to build robust data driven automation suites,
        where we can then maintain and execute as required.
      </p>
      </h5>
    </div>
    <!--end Testing-->
    <div class="col-md-9 data_page_services" ng-if="ITI">
      <h4 class="page_h">IT Infrastructure Services</h4>
      <h5 class="Itext">Overview</h5>
      <p> <img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">Intense pressure on enterprises to stay agile and responsive
        towards a volatile business environment has led to the emergence of new technologies. With the surge of cloud computing,
        enterprise mobility and virtualization, enterprises are now re-thinking the ways they do business. These innovations
        are now entirely changing the way IT Infrastructure services are being designed, provisioned and maintained for both
        internal and external customers of the enterprise.


      </p>
      <p>
        Clearly, today, the emphasis is on bringing measurable business value through IT.
      </p>
      <h5 class="Itext">
        Challenges and Opportunities
      </h5>
      <p>The major challenge now posed is that, on one hand, there is this new wave of emerging technologies that is rapidly
        changing the business landscape, and, on the other hand, there are businesses that are seeking growth and innovative
        solutions, that are enabling them to respond to these needs and are delivering value too.
      </p>
      <p>Now, in order to meet these demands, while maintaining growth and saving on costs, enterprises definitely require an
        IT infrastructure that is agile and flexible to keep up in today’s fast changing world.

      </p>
      <h5 class="Itext">Wohlig Transformation Infrastructure Offerings- Delivering Value
      </h5>
      <p>At>Wohlig Transformation, we help optimize IT infrastructure to create business value for enterprises by leveraging existing
        technology assets and emerging trends, while creating efficient internal processes.
      </p>
      <p>Our Infrastructure Management is categorised as Systems Management, Applications Management, Network Management, Data
        Security, Storage Management.</p>
      <p>The services from the table of>Wohlig Transformation IT Infrastructure Management cover the following:</p>
      <ul>
        <li>Remote NOC / SOC (Network and Security Operations Center)</li>
        <li>Datacenter Transition and Transformation</li>
        <li>Cloud Migration Services</li>
        <li>Remote Infrastructure Management</li>
        <li>Full Service Infrastructure Outsourcing</li>
        <li>IT Infrastructure Consulting</li>
        <li>IT Infrastructure Audit / Analysis</li>
      </ul>
      <h5 class="Itext">Remote NOC / SOC (Network and Security Operations Center)
      </h5>
      <p>What we do exactly under Remote NOC/SOC?</p>
      <ol>
        <li>24×7 automated and manual monitoring of infrastructure and services.
        </li>
        <li>Tier-one tasks such as user creation, password resets, log monitoring, access privileges, initial triage, basic manual
          and automated hourly, daily, weekly checks / tasks.
        </li>
        <li> Timely escalation of critical alerts to Tier 2 to help meet better SLA.
        </li>
        <li>Monitor device logs for security monitoring for DoS, Attempts of unauthorized access at infrastructure and application
          level (critical for companies dealing with payment industry)
        </li>
        <li> Cost effective implementation and easy ramp up of resources
        </li>
        <li>Dashboard reporting of weekly, monthly and quarterly SLAs with daily track of incidents.</li>
      </ol>

      <h5 class="Itext">Datacenter Transition and Transformation</h5>
      <p>Wohlig Transformation’s focus on innovation, flexibility and speed</p>
      <ol>
        <li> Integrate transition / transformation solution with Flexibility for growth, innovative services to give a competitive
          advantage.
        </li>

        <li> Analysis and audit of the current Applications and infrastructure
        </li>
        <li>Consult and design Architecture with Business Demand and Vendor focus to achieve best results
        </li>
        <li>Design and implement IT business process in tandem with the transformation
        </li>
        <li>Focus to maximize Automation via IT
        </li>
        <li>Focus on Training and communication ahead of scheduled change to ensure smooth transition for all stakeholders
        </li>
      </ol>
    </div>

    <div class="col-md-9 data_page_services" ng-if="Technology">
      <h4 class="page_h">Technology Consulting
      </h4>
      <h5 class="Itext">Overview</h5>
      <p> <img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">Technologies such as Mobility, Cloud Computing, Big Data
        have radically changed the business landscape in the recent years. In such a scenario, having a perfect IT consulting
        partner with well-defined strategies and deep domain expertise offering unique solutions and the one who can quickly
        turn these advances into competitive advantages, is the need of the time.

      </p>
      <h5 class="Itext">
      Wohlig Transformation Offerings- Delivering Value</h5>
      <p>At>Wohlig Transformation we help align your IT strategy with business strategy while focusing on optimizing IT expenditure and
        governance, and implement leading IT practices specific to your industry.</p>
      <p>Technology costs a lot to organizations and they necessarily have to spend a fortune on it. It is a critical constituent
        of today’s business infrastructure and indeed at the core of many a customer service, cost reduction initiatives,
        productivity and risk management too.</p>
      <p>However, spending on technology often is accompanied by its accountability and for a valid and good reason too. As
        per the research findings, 10% to 20% of a traditional company’s technology budget is not used wisely or is simply
        wasted and only 32% of projects are actually delivered on time, in line with the decided budget and with the required
        features.</p>
      <p>While executives are worried about the current situation, many are unsure of the solution; given the lack of relevant
        information needed to evaluate technology decisions, or even to measure the approximate technology spending and performance.</p>
      <p>Wohlig Transformation is a pioneer in technology advisory services. We help our clients with the following three core services:</p>
      <h5 class="Itext">IT Strategy and Consulting:</h5>
      <p>Our expert professionals from various disciplines thoroughly understand the myriad business, technology and industry
        drivers that are critical to making strategic decisions.</p>
      <p>Whatever you are seeking; whether your organization is merging with another one or is on a lookout for a long term
        strategic plan, we can help you develop a blueprint and roadmap that is in line with your technology investments
        with your business priorities; and all this while managing related risks and compliance issues too. We do this through
        our expertise in:
      </p>
      <ul>
        <li>IT Strategy and Governance</li>
        <li>Enterprise Architecture</li>
        <li>IT Merger Integration</li>
      </ul>
      <h5 class="Itext">IT Processes:</h5>
      <p>The success of any project and also its operational excellence are both equally critical to maintaining technology
        as a business enabler not to mention as a differentiators. Our strength lies in turning around runaway projects and
        some major operational issues through our expertise in:</p>
      <ul>
        <li>IT Project Management</li>
        <li>IT Operations Management</li>
      </ul>


      <h5 class="textcontent"></h5>
    </div>

    <div class="col-md-9 data_page_services" ng-if="Cloud">
      <h4 class="page_h">Cloud</h4>


      <p><img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">Cloud computing is undoubtedly one of the most innovative
        practices of modern technology that simply uses a network of remote servers that are hosted on to the internet in
        order to store, manage and eventually process data , as against a local server or even a personal computer. Clearly,
        cloud computing is one of the most competitive and evolving trends that help scale enterprise resources and computing
        capabilities and efficiencies.

      </p>
      <p>One of the major advantages being that, this technology marvel provides infrastructure, software, platform and network
        as globally distributed and fully connected services
      </p>
      <p>within various deployment modes through the process of virtualization and self-managed computer systems. This directly
        helps organizations reduce their overall operational expenses, while they continue to fully realize their strategic
        objectives dynamically.

      </p>
      <h5 class="Itext">
      Wohlig Transformation Cloud Offerings – Delivering Value</h5>
      <p>We at>Wohlig Transformation offer Cloud Services in order to help enterprises transform their infrastructure and application
        assets. We do this efficiently by leveraging process automation, and a private cloud build-out, as well as the strengths
        of public cloud as a part of our 360 degree cloud services.

      </p>
      <ul>
        <li>Wohlig Transformation Fact File:
          <ul>
            <li>Qualified Cloud talent pool
            </li>
            <li>Full-fledged Cloud simulation platform
            </li>
            <li>Cost effective custom solutions and services using best practices
            </li>
            <li>Global presence in multiple industry verticals
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>Our Service Portfolio</li>
        <ul>
          <li>Advisory</li>
          <ul>
            <li>Cloud Strategy
            </li>
            <li>Open Standards
            </li>
            <li>IT Governance
            </li>
            <li>Security
            </li>
            <li>Compliance</li>
          </ul>
        </ul>

        <ul>
          <li>Engineering</li>
          <ul>
            <li>Architecture</li>
            <li>Service Models
            </li>
            <li>Deployment Models</li>
            <li>Disaster Recovery
            </li>
          </ul>
        </ul>
      </ul>

      <h5 class="Itext">
        The>Wohlig Transformation Advantage
      </h5>
      <p>We believe that such a revolutionary technology that promises endless opportunities and many apparent long term gains
        should therefore be carefully analysed before embracing as it will impact your current operational capabilities and
        future IT strategy and decision making. It is therefore imperative to understand the Cloud computing landscape that
        is so threadbare, to be able to explore its huge potential and work out a favourable risk-reward ratio.
      </p>
      <p>Wohlig Transformation acknowledges this critical and difficult task. We have therefore designed a holistic Cloud service portfolio
        to reap end-to-end Cloud strategies and solutions that suit your unique requirement. These are necessarily based
        on our in-depth understanding of information technology expertise across various industry verticals besides our core
        Cloud computing specialization.
      </p>
      <p>Our Cloud Centre of Excellence, a customer-centric approach aligned with our expertise in implementing Cloud based
        business streams, enables us to facilitate growth acceleration, and deliver value beyond price.
      </p>

      <h5 class="textcontent"></h5>
    </div>
    <div class="col-md-9 data_page_services" ng-if="Application">
      <h4 class="page_h">Application Development & Maintenance</h4>
      <h5 class="Itext">Overview</h5>
      <p><img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">In today’s fast paced technical age, there has been a massive
        surge in new and competitive list of business expectations from Application Development. Prominently the business
        demands in the realms of creative, optimized, robust, quick, flexible, compatible and sustainable agile enterprise
        solutions development are now the order of the day.
      </p>

      <h5 class="Itext">
      Wohlig Transformation Application Development Offerings – Delivering value to enterprises</h5>
      <P>At wohlig technology, Application Development is our core offering. Our goal is to Partner with our customers in their growth
        plans and to build a long term relationship with them. In order to fulfill this, our team always strives to provide
        futuristic enterprise solutions within the framework of technology and customers’ expectations.
      </P>
      <p>At>Wohlig Transformation, our Analyst team works closely with customers to understand their requirements. We recommend some
        of the best business solutions to make things simple and lead them on to a futuristic path in terms of technology
        and its implementations.
      </p>
      <p> <img class="pull-right imagesize center" heigh="130px" src="img/Default.jpg">We finally convert all the requirements into either functional specifications for Waterfall development or putting
        them as Stories for Agile development.</p>
      <p>Our highly technical and creative team is focused on delivering the application, based on the specifications. Quality
        always being the top priority, our team always goes an extra mile to add value to the features and functions.

      </p>
      <p>We believe in transparency and no surprises to our customers, our managers endorse this by working closely with customers
        when it comes to executing the program plan and managing the risks while providing the most appropriate solutions.

      </p>

      <p>Our approach has always been emphasizing on the mantra of ‘Collaborative Delivery’. Customer and us are an integral
        part of the team. In fact we are an extended arm of the customer to execute the program successfully.

      </p>
      <h5 class="Itext">
        Our Approach</h5>
      <p>Our approach has always been emphasizing on the mantra of ‘Collaborative Delivery’. Customer and us are an integral
        part of the team. In fact we are an extended arm of the customer to execute the program successfully.
      </p>
      <h5 class="Itext">
        Choose Us
      </h5>
      <P>Is looking for creative, robust, optimized, quick, sustainable agile solutions development being too ambitious? However
        we think that getting all of the above under one roof is an ambitious search indeed. So the good news is that you
        have come to the right place.
      </P>
      <p>Wohlig Transformation and its highly technical, creative, quality oriented welcome you to partner with people who believe in
        collaborative working. We take agility to next level to give you the right value for your money right from the beginning.
      </p>
      <p>We team up with you to build sustainable solutions which will take your business to the next level. However, the journey
        does not end there, in fact with our strong team and expertise; we ensure that you get proper maintenance and on-going
        application support for your programs.
      </p>


      <h5 class="textcontent"></h5>
    </div>
 <div class=" tab-content col-md-9 data_page_services" ng-if="business">
      <div class="row">

      <h4 class="page_h">Business Intelligence</h4>

        <div class="col-md-3 img_size">
          <img src="img/b1.jpg" class="img-responsive">
        </div>

        <div class="col-md-9">
          <div class="repeat_text">
            <h5 class="text_heading_inside"><b>Qlik Expertise at Wohlig Transformations

          </b></h5>
            <h5 class="textcontent">Qlik is a leader in visual analytics and we are leaders in using Qlik to empower businesses grow by leveraging
              advanced analytics. Whether it is customer analytics, text analytics, predictive analytics or business turnaround
              analysis, we have extensively leveraged Qlik’s power and combined it with our analytics expertise to deliver
              meaningful and actionable insights to our clients.Qlik professional services team can help you seamlessly integrate
              Qlik Suite into your current setup or embed key features required for business need. DSC_1176Yes
            </h5>
          </div></div>

      </div>
      
      
      
       <div class="row">
    <div class="col-md-3 img_size">
        <img src="img/3.jpg" class="img-responsive">
        </div>
             <h5 class="text_heading_inside"><b>Customer Analytics


          </b></h5>
              <h5 class="textcontent">Wohlig Transformations helped a bank to extensively cross sell its new products into all existing customers
                by leveraging customer analytics backed by Qlik. We have extracted information from all the existing data
                silos, identified a comprehensive list of KPIs and created a cross sell / up sell modelling based on customer
                segmentation. Customer-Analytics-Exponentia-DataLabs
              </h5>
       </div>

       <div class="row">
<div class="col-md-3 img_size">
        <img src="img/3rd_img.jpg" class="img-responsive">
        </div>
              <h5 class="text_heading_inside"><b>Text Analytics

          </b></h5>
              <h5 class="textcontent">A large retailer in UK had millions of unstructured records of customer feedback data.Wohlig Transformations
                developed a text analytics engine and helped the client to visualize report directly from the text analytics
                engine. We analysed the data fed into Qlik and have done KPI Analysis in Qlik to deliver actionable and meaningful
                insights. Text-Analytics-Exponentia-DataLabs
              </h5>


       </div>


              <div class="row">
<div class="col-md-3 img_size">
        <img src="img/4th_img.jpg" class="img-responsive">
        </div>
              <h5 class="text_heading_inside"><b>Predictive Analytics



          </b></h5>
              <h5 class="textcontent">Wohlig Transformations helped this ecommerce company to increase the lead conversion rates even with the limited
                ground staff and an intense competitive landscape. We used all proprietary analytics models to customize
                the propensity to purchase model and integrated this with the Qlik dashboards. This helped the sales team
                to target customer who displayed the high probability rate to purchase. Predictive-Analytics-Exponentia-DataLabs-e1464762980172

              </h5>
              </div>

<div class="row">
<div class="col-md-3 img_size">
        <img src="img/Default.jpg" class="img-responsive">
        </div>

              <h5 class="text_heading_inside"><b>Business Turnaround Analysis



          </b></h5>
              <h5 class="textcontent">Wohlig Transformations helped this ecommerce company to increase the lead conversion rates even with the limited
                ground staff and an intense competitive landscape. We used all proprietary analytics models to customize
                the propensity to purchase model and integrated this with the Qlik dashboards. This helped the sales team
                to target customer who displayed the high probability rate to purchase. Predictive-Analytics-Exponentia-DataLabs-e1464762980172

              </h5>
</div>


          </div>


        </div>
        <!--col-9-->
      </div>

    </div>


  </div>
  
</div>