<section>
<div class="our_services">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
<h3>Resource Center</h3>

      </div>
      <div class="col-md-3">
        <h3>Analytics</h3>
      </div>
      <div class="col-md-3">
        <h3>Enterprise Mobility</h3>
      </div>
      <div class="col-md-3">
        <h4>Application Development</h3>
      </div>
    </div>
  </div>
</div>
</section>


<section>
<div class="container ">
  <div class="row">
  <div class="client_page_top img-wrapper">
    <h2><strong>Our Clients</strong></h2>
  </div>
  </div>

  <div class="row">

    <div class="c_img col-md-2">
      <a href="" target="_blank"> <img src="img/new_images/28.png" alt="TUI_Logo_tilewhite"></a>
    </div>
    <div class="c_img col-md-2">
      <a href="" target="_blank"><img src="img/new_images/14.png" alt="coachmentor"></a>
    </div>
    <div class="c_img col-md-2">
      <a href="" target="_blank"><img src="img/new_images/5.png" alt="dharma"></a>
    </div>

    <div class="c_img col-md-2">
      <a href="" target="_blank"><img src="img/new_images/22.png" alt="SFA"></a>
    </div>

    <!--//Add somethign-->

    <div class="c_img col-md-2">
      <a href="" target="_blank"><img src="img/new_images/1.png" alt="Travellibro"></a>
    </div>
    <div class="c_img col-md-2">
      <a href="" target="_blank"><img src="img/new_images/13.png" alt="jpp"></a>
    </div>
  </div>

  <div class="row">
    <div class="container">


      <div class="c_img col-md-2">
        <a href="" target="_blank"><img src="img/new_images/3.png" alt="absolute"></a>
      </div>
      <div class="c_img col-md-2">
        <a href="" target="_blank"><img src="img/new_images/12.png" alt="auroart"></a>
      </div>

      <div class="c_img col-md-2">
        <a href="" target="_blank"><img src="img/new_images/10.png" alt="smaash"></a>
      </div>
      <div class="c_img col-md-2">
        <a href="" target="_blank"><img src="img/new_images/13.png" alt="rusa"></a>
      </div>

      <div class="c_img col-md-2">
        <a href="" target="_blank"><img src="img/new_images/30.png" alt="Ting"></a>
      </div>
      <div class="c_img col-md-2">
        <a href="" target="_blank"><img src="img/new_images/37.png" class="img-responsive" alt="pehla kadam"></a>
      </div>
    </div>
  </div>
  <div class="pull-middle">
    <a href="client_page">
               <button type="button"  class="btn-style">
                 See More </button></a>
  </div>
</div>
</section>
<section>
<div class="color_page_contact">
  <h4 class="color_page_home">Contact Us</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-4 set_align1">
        <p class="bold_text"> Inquiry Contact</p>
        <p>+91 9820045678</p>
        <p>chirag@wohlig.com</p>

      </div>
      <div class="col-md-4 set_align2">

        <p class="bold_text">Support Contact</p>
        <p>+91 9920712123</p>
        <p>harsh@wohlig.com</p>
      </div>
      <div class="col-md-4 set_align3">
        <p class="bold_text">Wohlig Transformations Pvt. Ltd.</p>
        <p> Plot No.3, Flat No.A/30,3rd Floor, Laxmi </p>
        <p> Nivas, Near Sadhana School,Sion West,</p>
        <p> Mumbai Maharashtra- 400022.</p>
      </div>
    </div>
  </div>
</div>
</section>