<div class="img_123">
  <img src="img/wohligb.jpg" class="img-responsive img1234" alt="bimg">

</div>
<section>
  <div class="container">
    <div class="row">
      <div class="logo_page img-wrapper col-md-3 col-sm-2">
        <img src="img/logo_page.png" alt="" width="400px">

      </div>
      <div class="col-md-9 col-xs-3 col-sm-10">
        <div class="Abtwohlig">
          <div class="border_services">
            <h2>About Wohlig</h2>
          </div>
        </div>
        <div class="onimg1">
          <h4>
            <div class="font_space1">
              Maecenas laoreet semelit, eget ultricies ex venenatics quis. Donec ultricies nibh, sed fringilla purus. nunc consequat, elit
              in sodales tincidunt nisl, id viverraligula metus a purus.</div>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia, justo at eleifend hendrerit, ex ligula interdum
            dolor, et finibus lacus ante eget erat. Sed elit nisl, suscipit fermentum tincidunt at, ornare at leo. Vestibulum
            sagittis felis eu semper euismod. Ut mi odio, efficitur vel consectetur in, luctus et odio. Quisque iaculis aliquam
            efficitur. Aenean tristique lobortis magna sed placerat. Proin rutrum nunc vitae neque suscipit, eu accumsan
            nunc suscipit. Quisque tempus odio eu efficitur malesuada. Mauris iaculis nec magna sed posuere. Duis in mauris
            vehicula, dignissim justo non, cursus dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam
            in nulla metus
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="middle_button">
    <a ui-sref="about_us" class="btn btn-primary btn-all">
      Read More
    </a>

  </div>

</section>

<section class="section_services">
  <!--service-->
  <div class="container">
    <!--title-->
    <div class="title_all">
      <span class="border_services">Our Services</span>
    </div>
    <div class="our-services">
      <div class="row">
        <div class="col-md-3">
          <div class="service_c">
            <div class="icon_holder">
              <img src="img/a (1).png" alt="" width="70px">
            </div>
            <div class="sub_title1">Resource Center</div>
            <div class="service_content">
              <p> Provides an end-to-end service designed to minimise business risk and rule out the potentially expensive mistakes.
              </p>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="service_c">
            <div class="icon_holder">
              <img src="img/b.png" alt="" width="70px">
            </div>
            <div class="sub_title2">Analytics</div>
            <div class="service_content">
              <p> Analytics hep enterprises get valuable business information &amp; insights by analyzing mixture structured,
                semi structured and unstructured data.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="service_c">
            <div class="icon_holder">
              <img src="img/side.png" alt="" width="70px">
            </div>
            <div class="sub_title1">Enterprise Mobility</div>
            <div class="service_content">
              <p> All about changing the way enterprises are connecting with people and about how efficiently managing their
                resources, remotely.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="service_c">
            <div class="icon_holder">
              <img src="img/d.png" alt="" width="70px">
            </div>
            <div class="sub_title4">Application</div>
            <div class="service_content">
              <p> Application Development is our core offering. Our goal is to partner with our customers in their growth plans
                and to build a long term relationship with them.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="middle_button">
      <a ui-sref="services" class="btn btn-primary btn-all">
        See More
      </a>

    </div>
  </div>
</section>



<!--client section-->
<section>
  <div class="container">
    <!--title-->
    <div class="title_all text-center">
      <span class="border_services">Our Clients</span>
    </div>
    <!--client images-->
    <div class="our_clients">
      <div class="row">
        <div class="col-md-2 col-sm-3  c_img" ng-repeat="img in clients track by $index">
          <div class="img_holder_clients">
            <img ng-src="{{img}}" alt="" class="img-responsive">
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="middle_button">
    <a ui-sref="client_page" class="btn btn-primary btn-all">
      See More
    </a>
  </div>

</section>



<section>
  <div class="color_page_contact">
    <h4 class="color_page_home">Contact Us</h4>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-3 set_align1">
          <p class="bold_text"> Inquiry Contact</p>
          <p class="coinfo">+91 9820045678
            <br> chirag@wohlig.com
          </p>

        </div>
        <div class="col-md-4 col-sm-3 set_align2">

          <p class="bold_text">Support Contact</p>
          <p class="coinfo">
            +91 9920712123
            <br> harsh@wohlig.com
          </p>
        </div>
        <div class="col-md-4 col-sm-6 set_align3">
          <p class="bold_text">Wohlig Transformations Pvt. Ltd.</p>
          <p class="coinfo">
            Plot No.3, Flat No.A/30,3rd Floor, Laxmi
            <br> Nivas, Near Sadhana School,Sion West,
            <br> Mumbai Maharashtra- 400022.</p>
        </div>
      </div>
    </div>
  </div>
</section>