/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    padding-top:20px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

.column{
    line-height: 12px;
    
    padding-top: 20px;
    padding-left: 0px;
}
.footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

.img1
{
  width:130px;
  height:60px;
margin-left:60px;
padding-top:10px;
margin-bottom:15px;

}
.details
{
    background-color: #00b0c7;
    text-align:left;
    padding:20px 20px 30px 70px;
    color:white;

}
form{
  
    background-color:#f9f9f9;

}
.container
{
        padding-left: 490px;

}
div.Details_Container
{ 
    margin-left: 67px;
    margin-right: 100px;    
    padding-left:180px; 
    padding-right:200px; 
    padding-bottom:30px;
}
.column_addr
{
    background-color: #00b0c7;
    padding-left:41px;
    
    padding-top:37px;
    color:white;
        padding-bottom: 60px;
height:50%;
    line-height:1.5ch;

}
.main_footer
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.page_footer
{
    text-align:center;
    color:black;
    box-shadow: none;
}
.wohlig_address
{
        padding-bottom: 40px;

}

.ggl
{
    font-size:12px;
    padding-right:1px;
    color:#00b0c7;
}
.frm
{
    padding-left:42px;
    font-style:15px;
  
}
.line_page
{
    line-height: 1.5;
}
.line_page2
{
    line-height: 1.3;
}
.inquiry_details
{
    height:50%;
        background-color: #ececec;
        padding-top: 30px;
    padding-left: 30px;
        padding-bottom: 17px;

}
.en h6{
        padding-bottom: 30px;
}
.inp
{
    border:none;
     padding-right: 40px;
     padding-top: 10px;     


}


.bmain
{
    border-radius:40px;
    width:31px;
    height: 31px;
    background-color:white;
}
.img-wrapper 
{
    position:relative;
}
.page_row
{
    box-shadow: 1px 1px 8px -2px;
    font-family: arial;
}
.design_nav
{
    padding-top: 0px;
}
.background_name h6{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);    
        font-size: 30px;
        color:white;
display: inline;

}
.color_blue
{
     color:blue;
}
a{
    color:black;
}
.butn
{
   color:white;
   background-color: #00b0c7;
   
    
}
.phn
{
    border-radius:40px;
    width:31px;
    height: 31px;
    
}
.icon
{
    font-size:18px;
    color:black;
}
.inf
{
    background-color: #ececec;
    padding-left: 50px;
              padding-top: 30px;
}
.enquiry_wohlig
{
  display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 15px;
    padding: 4px 6px;
    background: #fff;
    border-radius: 100%;
}

.column_main
{
    padding-left:0px;
    background-color: #ececec;
    padding-right: 0px;
    height:700px;
    padding-bottom: 35px;
}
  
.map-img
{
        padding: 70px 20px 30px 20px;
            overflow: hidden; 
            
}
.page_font
{
    font-size: 22px;
    padding-left: -7px;
    
}
.padding_page
{
        padding-left: 0px;
    padding-right: 0px;
}
.form-horizontal .control-label
{
    text-align: left;
}
.page_form
{
    padding-top: 30px;
}
.email_page
{
        padding-bottom: 30px;

}
.form-group{
    padding-left: 0px;
    padding-right: 0px;
}
.gm-style .place-card-large{
    display:none !important;
}
.page_row{
box-shadow: 2px 2px 8px -3px;
}
.Details_Container
{
    margin-top:60px;
}
.page_design{
     background-color: #f9f9f9;
    padding:20px 40px 40px 40px; 
    height:100%;
    
}
.wohlig_address{
    font-size:16px!important;
}
.wohlig_form
{
    
}
.page_row
{
background-color:#ececec;
}
.Frame_map
{
         padding-top: 20px;

}
.inq_font
{
padding-top: 10px;
}
.line_page{
    padding-top: 30px;
}
.form_container
{
       padding-left: 0px;
}
.abtyou
{
    background-color: white;
}
.button_submit
{
    padding-left: 24px;
    padding-right: 24px;
    color: white;
        background-color: #00b0c7;
}
.button_add
{
    padding-right: 150px;

}
.padding_buttom
{
    padding-bottom: 71px;
}
.padd_top
{
    padding-top: 40px;
}
.addi_inf
{
        padding-bottom: 15px;
}
.tab_form
{
    background-color:#ececec;
    }
.column_space{
    padding: 0px 10px 0px 0px;
    
}
.column_space2
{
    padding: 0px 0px 0px 2px;
}