<header>

    <nav>
  <div class="container-fluid">
    <div class="page_image">
     <header hide-on-scroll>
    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <img src="img/2.png" alt="logo" class="img1" width="140px" height="auto">
            </div> <div class="collapse navbar-collapse" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>
            </nav>
    </div></div></nav>
</header>