<!--<header hide-on-scroll>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home"><img src="/img/logo.png" alt="logo" width="20"> </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>
        </div>
    </nav>
</header>-->
<header>
    <nav>
  <div class="container-fluid">
    <div class="page_image">
          <img src="img/2.png" alt="logo" class="img1" width="140px" height="auto">
    
    
        <ul class="nav navbar-nav navbar-right">
        
      <li><a href="#"><strong>Home</strong></a></li>
      <li><a href="#"><strong>About us</strong></a></li>
      <li><a href="#"><strong>Services</strong></a></li>
        <li><a href="#"><strong>Work Process</strong></a></li>
               <li><a href="#"><strong>Current Openings</strong></a></li>
          <li><a href="#"><strong>Clients</strong></a></li>
            <li><a href="#"><strong>Get in Touch</strong></a></li>
        
    </ul>
  
  
   
  </div>
</nav>
</header>